<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
<add name="conn" connectionString="Integrated Security=SSPI;Persist Security Info=False;;Initial Catalog=MySchool;Data Source=.;"/>
  <add name="conn1" connectionString="Integrated Security=SSPI;Persist Security Info=False;;Initial Catalog=StudentPortal;Data Source=.;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>